.bg-header{
    background-color: #264653;
}
.button-color{
    background-color: #E76F51;
}
.BandW{
    filter: grayscale(100%);
}
.orange{
    color: #E76F51;
}
.star-config{
    height: 22px;
    width: 22px;
    color: orange;
}